<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943063434193-t9vbdql53v2ktim5v5eoa8udg0qk4p63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943063434193-t9vbdql53v2ktim5v5eoa8udg0qk4p63</string>
	<key>API_KEY</key>
	<string>AIzaSyBnzQ2JyokE2zlTzm6HCHOHp3iCNeFxgMY</string>
	<key>GCM_SENDER_ID</key>
	<string>943063434193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-a2400</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-a2400.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943063434193:ios:9d515e8cae7cbf6daf16f0</string>
</dict>
</plist>